export(available.packages.cran)
export(available.packages.bioc)
export(bioc.version)
export(edit.src.file)
export(kate)
export(textmate)
export(tm)
export(mate)
export(smultron)
export(find.src.file)
export(which.src.file)
export(get.full.path)
export(get.function.dependencies)
export(get.function.dependencies2file)
export(import.function)
export(import.function.from.src.file)
export(import.function.header)
export(import.function.header.from.src.file)
export(is.dir)
export(is.file)
export(list.my.packages)
export(mjc2roxygen)
export(trim)
export(mjcheader2roxygen)
export(relibrary)
export(updateR)
