export(available.packages.bioc)
export(available.packages.cran)
export(bioc.version)
export(detach.all)
export(edit.src.file)
export(find.src.file)
export(functions.in.source.file)
export(get.function.dependencies)
export(get.function.dependencies2file)
export(import.function)
export(import.function.from.src.file)
export(import.function.header)
export(import.function.header.from.src.file)
export(is.dir)
export(is.file)
export(kate)
export(list.my.packages)
export(mate)
export(prompt.function)
export(refactoR)
export(relibrary)
export(replace.importFrom)
export(search.function.importsMe)
export(smultron)
export(textmate)
export(tm)
export(unlibrary)
export(updateR)
export(which.package)
export(which.src.file)
export(write_PACKAGES)
export(write_PACKAGES_dir)
importFrom(devtools,reload)
importFrom(mjcbase,file.issymlink)
importFrom(mjcbase,file.move)
importFrom(mjcbase,tocsv)
importFrom(mjcbase,trim)
importFrom(roxygen2,parse.files)
importFrom(stringr,str_replace)
